.advantages__container {
  background-color: $primary-color;
  color: $white;
  padding-top: 34px;
  padding-bottom: 39px;
}

.advantages__list {
  padding: 0;
  margin: 0;
}

.advantages__item {
  @include list-reset();
}

.advantages__sublist {
  background-color: $white;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 158px;
    padding-bottom: 59px;
  }

  .advantages__item {
    background-color: $white;
    background-repeat: no-repeat;
  }
}

.advantages__title {
  margin-top: 0;
  font-size: 20px;
  line-height: 26px;
}

.advantages__subtitle {
  margin-bottom: 0;
}

.searsh-apartments__title {
  @include font-set(21px, 26px);
}

.advantages__item--wrapper {
  background-color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item--flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__item--bridge {
    flex-direction: row-reverse;
  }

  .advantages__container {
    width: 33.33%;
  }

  .advantages-container__image {
    width: 66.66%;
    height: 256px;
  }

  .advantages__item--wrapper {
    width: 33.33%;
  }

  .searsh-apartments__title {
    @include font-set(30px, 26px);
    display: block;
    padding-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper--list {
    padding-top: 43px;
  }

  .advantages__item--wrapper {
    padding: 0 43px;
  }
}
