button {
  padding: 0;
}

.btn {
  color: $white;
  background-color: $primary-color;
  border: none;

  @include font-set(21px, 26px);
}

.searсh-apartments__btn {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 17px;
  margin-left: 20px;
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {
  .searсh-apartments__btn {
    width: 458px;
    margin-left: 155px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .searсh-apartments__btn {
    margin-left: 375px;
    margin-top: 20px;
    margin-bottom: 68px;
  }
}


.photo-item__like {
  border: none;
  background-color: $white;
}

.review__btn {
  width: 280px;
  height: 58px;
  margin-top: 30px;
  margin-bottom: 43px;
  text-transform: inherit;

  @include font-set(18px, 26px, 700);

  @media (min-width: $tablet-width) {
    width: 328px;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    margin-left: 60px;
    margin-bottom: 70px;
  }
}
