.page-footer__hashtag {
  @include font-set(21px, 26px);
  display: block;
  margin-top: 32px;
}

.copyright__text {
  padding-bottom: 26px;
  padding-right: 33px;

  @include font-set(14px, 23px);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 35px;
    background-image: url(../img/logo-htmlacademy.svg);
    background-repeat: no-repeat;
    right: 0;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    justify-content: space-between;
  }

  .page-footer__hashtag {
    margin-top: 44px;
  }

  .page-footer__copyright {
    margin-top: 44px;
  }
}
