.page-header__wrapper {
  position: relative;

  @media (max-width: $mobile-width-only) {
    height: 56px;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: -57px;
  }
}
