.page-header__wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 57px;
    background-image: url(../img/vector-right.svg);
    top: 392px;
    left: 160px;

    @media (min-width: $tablet-width) {
      top: 462px;
      left: 384px;
    }

    @media (min-width: $desktop-width) {
       top: 333px;
       left: 600px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 600px;
    height: 57px;
    background-image: url(../img/vector-left.svg);
    top: 392px;
    right: 160px;

    @media (min-width: $tablet-width) {
      top: 462px;
      right: 384px;
    }

    @media (min-width: $desktop-width) {
      top: 333px;
      right: 600px;
    }
  }

  @media (max-width: $mobile-width-only) {
    height: 56px;
  }
}

.page-header__wrapper--photo-form {
  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 57px;
    background-image: url(../img/vector-right.svg);
    top: 161px;
    left: 160px;

    @media (min-width: $tablet-width) {
      top: 230px;
      left: 384px;
    }

    @media (min-width: $desktop-width) {
       top: 245px;
       left: 600px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 600px;
    height: 57px;
    background-image: url(../img/vector-left.svg);
    top: 161px;
    right: 160px;

    @media (min-width: $tablet-width) {
      top: 230px;
      right: 384px;
    }

    @media (min-width: $desktop-width) {
      top: 245px;
      right: 600px;
    }
  }

  @media (max-width: $mobile-width-only) {
    height: 56px;
  }
}


.page-header__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

img {
  width: 100%;
}

  @media (min-width: $tablet-width) {
    top: -57px;
  }

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 96px;
  }
}

