.page-header__wrapper {
  @media (max-width: $mobile-width-only) {
  height: 57px;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;


img {
  width: 100%;
}

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 96px;
  }
}
