.intro-text {
  margin-top: 32px;
  padding-bottom: 0;

  .intro-text__title {
    @include font-set(18px, 26px);

    @media (min-width: $desktop-width) {
      &--form {
        margin-top: 112px;
      }
    }
  }
}

.intro-text__subtitle {
  @include font-set(14px, 26px);
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 8px;

  &--form {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-right: 165px;
    padding-left: 160px;

    &--form {
      padding-left: 130px;
      padding-right: 135px;
      margin-bottom: 66px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 380px;
    padding-left: 380px;
    padding-top: 7px;

    &--form {
      padding-left: 350px;
      padding-right: 350px;
      margin-bottom: 39px;
    }
  }
}
