.main-nav {
  background-color: $primary-color;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $white;
  }

  a {
    color: $black;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
  }
}

.site-list {
  @include list-reset();
}

.site-list__item:nth-child(2) {
  margin-right: 20%;
}
