.photos {
  width: 100%;
}

.photos__list {
  @include list-reset();
  @include font-set(14px, 24px);
  margin-top: 43px;
}

.photos__item {
  margin-bottom: 75px;

  .photos__descriptions {
    @include font-set(14px, 24px);
  }

  .photos__author {
    @include font-set(14px, 24px);
  }
}

@media (min-width: $tablet-width) {
  .photos {
    width: 100%;
  }

  .intro-text {
    margin-top: 65px;

    .intro-text__title {
      @include font-set(30px, 26px);
    }
  }

  .photos__list {
    margin-top: 65px;
  }

  .photo-item__footer {
    display: flex;
    justify-content: space-between;
  }

  .photos-item__container {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item--flex {
    width: 324px;
  }
}

@media (min-width: $tablet-width) {
  .photos__item--flex {
    width: 400px;
  }
}
