.review__attractions-item {
  padding-bottom: 54px;

  @media (min-width: $tablet-width) {
    padding-right: 139px;
  }
}

.review__label {
  @include font-set(14px, 26px,);
  padding-top: 20px;
}

.review__contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.review__contacts-mail {
  @media (min-width: $desktop-width) {
    padding-left: 302px;
  }
}

.review__legend {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: 132px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 287px;
  }
}

.review__input {
  padding-left: 22px;
  height: 58px;
  flex-grow: 1;
  margin-left: 15px;
  background-color: $secondary-color;
  border: none;

  @include font-set(18px, 26px, 700);

  @media (min-width: $tablet-width) {
    display: block;
  }

  &--phone {
    @media (min-width: $tablet-width) {
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      width: 258px;
    }
  }

  &--mail {
    @media (min-width: $tablet-width) {
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      width: 258px;
    }
  }
}
