.searsh-apartments {
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.searсh-apartments__subtitle {
  @include font-set(14px, 23px);

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
  padding: 10px 20px 17px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 22px;

    @include font-set(14px, 26px);
  }
}

.searсh-apartments__title {
  @include font-set(21px, 26px);

  @media (min-width: $tablet-width) {
    @include font-set(30px, 26px);

    display: block;
    margin-top: 55px;
  }
}
