.social__list {
  @include list-reset();
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
   margin-left: 107px;
   margin-right: 123px;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $primary-color;
  margin-left: 6px;
  margin-bottom: 46px;
  margin-top: 33px;
  position: relative;
}

.social__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--twitter::after {
  width: 18px;
  height: 15px;
  background-image: url(../img/icon-twitter.svg);
}

.social__link--facebook::after {
  width: 9px;
  height: 19px;
  background-image: url(../img/icon-facebook.svg);
}

.social__link--youtube::after {
  width: 20px;
  height: 14px;
  background-image: url(../img/icon-youtube.svg);
}
