.videos__title {
    @include font-set(18px, 26px);
  }

  .videos__descriptions {
    padding-top: 14px;
    padding-bottom: 20px;

    @include font-set(14px, 24px);
  }

.videos {
  margin-top: 10px;
  position: relative;
}

  .video__image-poster {
    img {
      width: 320px;
      height: 201px;

      @media (min-width: $tablet-width) {
        width: 648px;
        height: 500px;
      }

      @media (min-width: $desktop-width){
        width: 800px;
      }
    }
  }

  .video__controls {
    background-color: #f2f2f2;
    display: grid;
    width: 280px;
    margin: 0 auto;
    margin-top: -45px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 66px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-left: 20px;
      grid-template-rows: 70px;
      width: 100%;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      grid-template-columns: 70px 1fr 1fr 86px 80px;
    }
}

.video__scroll-bar {
    position: relative;
    padding: 21px 23px;
    background-color: rgba(0, 0, 0, 0.6);
    grid-row-start: 1;
    grid-column: 1 / 6;
    margin-top: -4px;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 4;
      width: 648px;
      height: 93px;
      margin-left: -30px;
      margin-top: -30px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
      margin-left: 110px;
    }
}

.video__scale {
  background-color: $white;
  height: 3px;
  width: 235px;
  margin-left: 3px;
  position: absolute;

  @media (min-width: $tablet-width) {
    margin-left: 53px;
    margin-top: 24px;
    width: 389px;
  }
}

.video__toggle {
  background-color: $white;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 18px;
  left: 58px;

  @media (min-width: $tablet-width) {
    top: 42px;
    left: 158px;
  }
}

.video__button {
  background-color: transparent;
  border: none;
  padding:0;
  grid-row-start: 2;

  @media (min-width: $tablet-width) {
    grid-row-start: 1;
  }

    &--replay {
      grid-column: 1 / 2;
      margin-left: 35px;

      @media (min-width: $tablet-width) {
        margin-left: 75px;
        margin-top: 10px;
        width: 16px;
        height: 20px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 220px;
      }
    }

    &--subtitles {
      grid-column: 4 / 5;
      margin-left: 6px;

      @media (min-width: $tablet-width) {
        width: 32px;
        height: 20px;
        margin-top: 10px;
        margin-left: -20px;
      }

        @media (min-width: $desktop-width) {
        margin-left: -210px;
      }
    }

    &--fullscreen {
      grid-column: 5 / 6;
      margin-left: 13px;

      @media (min-width: $tablet-width) {
        width: 32px;
        height: 20px;
        margin-top: 10px;
        margin-left: -50px;
      }

      @media (min-width: $desktop-width) {
        margin-left: -210px;
      }
    }
}

.video__icon {
  width: 32px;
  height: 20px;
  fill: #5C6870;

  @media (min-width: $tablet-width) {
    fill: $white;
    opacity: 1;
  }
}
