@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  min-height: 100%;
  margin: 0;
  color: #000000;
  text-align: center;
  text-transform: uppercase; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none;
  color: #ffffff; }

.container {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 768px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
      box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25); } }

button {
  padding: 0; }

.btn {
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  line-height: 26px; }

.search-apartment__btn {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 17px;
  margin-left: 20px;
  margin-bottom: 49px; }

@media (min-width: 768px) {
  .search-apartment__btn {
    width: 458px;
    margin-left: 155px;
    margin-bottom: 58px; } }

@media (min-width: 1200px) {
  .search-apartment__btn {
    margin-left: 371px; } }

.photo-item__like {
  border: none;
  background-color: #ffffff; }

.review__btn {
  width: 280px;
  height: 58px; }
  @media (min-width: 768px) {
    .review__btn {
      width: 328px;
      margin-left: 60px; } }
  @media (min-width: 1200px) {
    .review__btn {
      width: 480px;
      margin-left: 120px; } }

.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px; }

@media (max-width: 767px) {
  .page-header__wrapper {
    height: 57px; } }

.page-header__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }
  .page-header__logo img {
    width: 100%; }
  @media (min-width: 768px) {
    .page-header__logo {
      top: 0; } }
  @media (min-width: 1200px) {
    .page-header__logo {
      width: 186px;
      height: 96px; } }

.main-nav {
  background-color: #81b3d2;
  position: relative;
  font-size: 18px;
  line-height: 30px; }

@media (max-width: 767px) {
  .site-list__item {
    height: 55px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .main-nav__toggle {
    position: absolute;
    top: 220px;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border: none; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 25px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }
  .main-nav--opened .main-nav__toggle {
    background-color: #81b3d2;
    top: 0;
    right: 0; }
    .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 3px;
      background-color: #ffffff; }
    .main-nav--opened .main-nav__toggle::before {
      transform: rotate(45deg);
      box-shadow: none; }
    .main-nav--opened .main-nav__toggle::after {
      transform: rotate(-45deg); }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    background-color: #ffffff; }
  a {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap; }
  .site-list__item {
    padding-top: 12px;
    padding-bottom: 14px;
    width: 20%; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .site-list__item:nth-child(2) {
    margin-right: 20%; } }

.promo, .promo--index {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  .promo::after, .promo--index::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 57px;
    bottom: -32px;
    right: 0;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .promo::after, .promo--index::after {
        background-image: url("../img/bg-intro-triangle-tablet.svg");
        bottom: 0; } }
    @media (min-width: 1200px) {
      .promo::after, .promo--index::after {
        background-image: url("../img/bg-intro-triangle-desktop.svg"); } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo, .promo--index {
      background-image: url("../img/bg-back-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .promo, .promo--index {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      padding-top: 95px;
      padding-bottom: 105px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .promo, .promo--index {
      background-image: url("../img/bg-back-tablet@2x.jpg"); } }
  @media (min-width: 1200px) {
    .promo, .promo--index {
      background-image: url("../img/bg-back-desktop@1x.jpg");
      padding-top: 100px;
      padding-bottom: 115px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
    .promo, .promo--index {
      background-image: url("../img/bg-back-desktop@2x.jpg"); } }

.promo--index {
  padding-top: 90px;
  padding-bottom: 85px; }
  .promo--index::after {
    bottom: -27px; }
    @media (min-width: 768px) {
      .promo--index::after {
        bottom: 0; } }
  @media (min-width: 768px) {
    .promo--index {
      padding-top: 77px;
      padding-bottom: 85px; } }
  @media (min-width: 1200px) {
    .promo--index {
      padding-top: 77px;
      padding-bottom: 85px; } }

@media (min-width: 768px) {
  .promo__intro-text {
    width: 461px;
    height: 350px; } }

.searsh-apartments__wrapper {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .searsh-apartments__wrapper {
      margin-top: 0; } }

.searsh-apartments__subtitle {
  font-size: 14px;
  line-height: 23px;
  padding: 10px 20px 17px; }
  @media (max-width: 767px) {
    .searsh-apartments__subtitle br {
      display: none; } }
  @media (min-width: 768px) {
    .searsh-apartments__subtitle {
      padding-top: 20px;
      padding-bottom: 24px; } }

.map__sedona {
  width: 100%; }

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  display: block;
  margin-top: 32px; }

.copyright__text {
  padding-bottom: 26px;
  padding-right: 33px;
  font-size: 14px;
  line-height: 23px;
  position: relative; }
  .copyright__text::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 35px;
    background-image: url(../img/logo-htmlacademy.svg);
    background-repeat: no-repeat;
    right: 0; }

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    justify-content: space-between; }
  .page-footer__hashtag {
    margin-top: 44px; }
  .page-footer__copyright {
    margin-top: 44px; } }

.intro-text {
  margin-top: 32px;
  padding-bottom: 0px; }
  .intro-text .intro-text__title {
    font-size: 18px;
    line-height: 26px; }

.intro-text__subtitle {
  font-size: 14px;
  line-height: 26px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 8px; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .social__list {
      margin-left: 107px;
      margin-right: 123px; } }

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 6px;
  margin-bottom: 46px;
  margin-top: 33px;
  position: relative; }

.social__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0; }

.social__link--twitter::after {
  width: 18px;
  height: 15px;
  background-image: url(../img/icon-twitter.svg); }

.social__link--facebook::after {
  width: 9px;
  height: 19px;
  background-image: url(../img/icon-facebook.svg); }

.social__link--youtube::after {
  width: 20px;
  height: 14px;
  background-image: url(../img/icon-youtube.svg); }

.advantages__container {
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 25px; }

.advantages__list {
  padding: 0;
  margin: 0;
  counter-reset: advantages-count; }

.advantages__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 26px; }
  .advantages__subtitle::before {
    counter-increment: advantages-count;
    content: "— №" counter(advantages-count) " —";
    display: block;
    padding-bottom: 10px; }
  .advantages__subtitle--reason {
    padding-top: 14px;
    padding-bottom: 33px; }
    @media (min-width: 768px) {
      .advantages__subtitle--reason {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 15px; } }
  .advantages__subtitle--reasons {
    padding: 0 20px 20px;
    font-size: 14px;
    line-height: 26px; }
    @media (min-width: 768px) {
      .advantages__subtitle--reasons {
        margin-bottom: 35px; } }
  .advantages__subtitle--bridge {
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .advantages__subtitle--bridge {
        padding-left: 51px;
        padding-right: 51px;
        padding-top: 7px; } }
  .advantages__subtitle--area {
    margin: 0;
    padding-top: 8px; }
  .advantages__subtitle--roads {
    margin: 0;
    padding-top: 8px;
    padding-right: 40px;
    padding-left: 40px; }
    @media (min-width: 768px) {
      .advantages__subtitle--roads {
        padding-top: 15px;
        padding-right: 55px;
        padding-left: 55px; } }
  .advantages__subtitle--tourist {
    margin: 0;
    padding-top: 9px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 2px; }
    @media (min-width: 768px) {
      .advantages__subtitle--tourist {
        padding-top: 15px;
        padding-bottom: 35px;
        padding-right: 40px;
        padding-left: 40px; } }
  .advantages__subtitle--sublist {
    padding-right: 20px;
    padding-left: 20px; }
    @media (min-width: 768px) {
      .advantages__subtitle--sublist {
        padding-top: 8px; } }
  .advantages__subtitle--area {
    padding-right: 20px;
    padding-left: 20px; }
    @media (min-width: 768px) {
      .advantages__subtitle--area {
        padding-top: 15px; } }

.advantages__item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }
  @media (min-width: 768px) {
    .advantages__item {
      width: 33.3334%; } }

.advantages__sublist {
  background-color: #ffffff;
  padding: 0;
  text-align: start;
  padding-bottom: 24px;
  padding-left: 45px; }
  @media (min-width: 768px) {
    .advantages__sublist {
      display: flex;
      flex-wrap: wrap;
      padding-top: 118px;
      padding-bottom: 48px;
      padding-left: 10px;
      width: 100%;
      text-align: center; } }
  .advantages__sublist .advantages__item {
    background-color: #ffffff; }
    @media (min-width: 768px) {
      .advantages__sublist .advantages__item {
        width: 33.334%; } }

.advantages__title {
  margin-top: 30px;
  margin-right: 4px;
  margin-bottom: 31px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 26px; }
  @media (min-width: 768px) {
    .advantages__title--first {
      padding-left: 125px;
      padding-right: 125px;
      padding-top: 13px; } }
  @media (min-width: 1200px) {
    .advantages__title--first {
      padding-left: 325px;
      padding-right: 325px; } }
  .advantages__title--sublist {
    margin-top: 30px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .advantages__title--sublist {
        margin-top: 40px; } }
  .advantages__title--city {
    margin-bottom: 0;
    margin-top: 23px; }
    @media (min-width: 768px) {
      .advantages__title--city {
        margin-top: 15px; } }
  .advantages__title--bridge {
    margin-top: 15px;
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .advantages__title--bridge {
        padding-left: 51px;
        padding-right: 51px;
        margin-top: 18px;
        margin-bottom: 10px; } }
  .advantages__title--area {
    margin: 0;
    padding: 28px 50px 0px; }
    @media (min-width: 768px) {
      .advantages__title--area {
        padding-top: 43px; } }
  .advantages__title--roads {
    margin: 0;
    padding: 45px 50px 2px; }
    @media (min-width: 768px) {
      .advantages__title--roads {
        padding-top: 43px; } }
  .advantages__title--tourist {
    margin: 0;
    padding: 46px 50px 0px; }
    @media (min-width: 768px) {
      .advantages__title--tourist {
        padding-top: 43px; } }
  @media (min-width: 768px) {
    .advantages__title {
      font-size: 21px;
      line-height: 26px; }
      .advantages__title--sublist {
        padding-left: 85px; } }

.advantages__subtitle {
  font-size: 14px;
  line-height: 26px; }
  .advantages__subtitle--sublist {
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 30px; }
    @media (min-width: 768px) {
      .advantages__subtitle--sublist {
        padding-left: 36px;
        padding-right: 25px; } }

.searsh-apartments__title {
  font-size: 21px;
  line-height: 26px; }

.advantages__item--wrapper {
  background-color: #eeeeee; }

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap; }
  .advantages__item--flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .advantages__item--souvenirs {
    order: 1; }
  .advantages__item--food {
    padding-left: 13px; }
  .advantages__item--bridge {
    flex-direction: row-reverse; }
  .advantages__container {
    width: 33.3334%;
    height: 256px; }
  .advantages-container__image {
    width: 66.6667%;
    height: 256px; }
    .advantages-container__image img {
      width: 100%; }
  .advantages__item--wrapper {
    width: 33.3334%; }
  .searsh-apartments__title {
    font-size: 30px;
    line-height: 26px;
    display: block;
    padding-top: 58px; } }

@media (min-width: 1200px) {
  .advantages__wrapper--list {
    padding-top: 43px; }
  .advantages__item--wrapper {
    padding: 0 43px; } }

@media (max-width: 767px) {
  .advantages-container__image img {
    display: block; } }

@media (min-width: 768px) {
  .advantages__title--souvenirs {
    padding-left: 78px; } }

.advantages__icon {
  fill: #81b3d2;
  display: block;
  position: absolute; }
  .advantages__icon--house {
    left: -24px;
    bottom: 73px;
    width: 39px;
    height: 37px; }
    @media (min-width: 768px) {
      .advantages__icon--house {
        width: 75px;
        height: 72px;
        left: 80px;
        bottom: 173px; } }
  .advantages__icon--gift {
    left: -24px;
    bottom: 53px;
    width: 39px;
    height: 37px; }
    @media (min-width: 768px) {
      .advantages__icon--gift {
        width: 64px;
        height: 75px;
        left: 80px;
        bottom: 173px; } }
  .advantages__icon--food {
    width: 39px;
    height: 37px;
    left: -27px;
    bottom: 73px; }
    @media (min-width: 768px) {
      .advantages__icon--food {
        width: 76px;
        height: 68px;
        left: 80px;
        bottom: 173px; } }

.review-form__item {
  border: none;
  padding-bottom: 43px;
  padding-top: 16px;
  margin: 0; }
  @media (min-width: 768px) {
    .review-form__item--impression {
      order: -1;
      width: 50%;
      padding: 0;
      margin: 0; } }
  @media (min-width: 768px) {
    .review-form__item--emotions {
      width: 100%; } }
  @media (min-width: 768px) {
    .review-form__item--attractions {
      width: 100%; } }

@media (min-width: 768px) {
  .review-form__wrapper {
    display: flex;
    flex-wrap: wrap; } }

.review-form__wrapper,
.review-form__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.review-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 15px; }

.review-form__initials {
  display: flex; }

.review-form__textarea {
  width: 279px;
  height: 160px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700; }

.review-form__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: initial; }

@media (min-width: 768px) {
  .review-form {
    display: flex;
    flex-wrap: wrap; }
  .review-form__textarea {
    width: 648px; } }

@media (min-width: 1200px) {
  .review-form__textarea {
    width: 960px; } }

@media (min-width: 768px) {
  .review-page {
    padding: 0 60px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .review-page {
      padding: 0 30px; } }

.review__attractions-item {
  padding-bottom: 54px; }
  @media (min-width: 768px) {
    .review__attractions-item {
      padding-left: 179px; } }

.review__label {
  font-size: 14px;
  line-height: 26px;
  padding-top: 20px; }

@media (min-width: 1200px) {
  .review__contacts {
    display: flex;
    flex-wrap: wrap; } }

.review__contacts-phone {
  position: relative; }
  .review__contacts-phone::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #E6E6E6;
    top: 26px;
    left: 265px; }
    @media (min-width: 768px) {
      .review__contacts-phone::before {
        left: 605px; } }
    @media (min-width: 1200px) {
      .review__contacts-phone::before {
        left: 272px; } }
  .review__contacts-phone::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../img/icon-phone.svg);
    top: 46px;
    left: 280px; }
    @media (min-width: 768px) {
      .review__contacts-phone::after {
        left: 625px; } }
    @media (min-width: 1200px) {
      .review__contacts-phone::after {
        left: 290px; } }

.review__contacts-mail {
  position: relative; }
  .review__contacts-mail::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #E6E6E6;
    top: 26px;
    left: 265px; }
    @media (min-width: 768px) {
      .review__contacts-mail::before {
        left: 605px; } }
    @media (min-width: 1200px) {
      .review__contacts-mail::before {
        left: 575px; } }
  .review__contacts-mail::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 12px;
    background-image: url(../img/icon-mail.svg);
    top: 46px;
    left: 284px; }
    @media (min-width: 768px) {
      .review__contacts-mail::after {
        left: 625px; } }
    @media (min-width: 1200px) {
      .review__contacts-mail::after {
        left: 595px; } }
  @media (min-width: 1200px) {
    .review__contacts-mail {
      padding-left: 302px; } }

@media (max-width: 767px) {
  .review__legend {
    display: none; } }

@media (min-width: 768px) {
  .review__legend {
    margin-left: 132px; } }

@media (min-width: 1200px) {
  .review__legend {
    margin-left: 287px; } }

.review__input {
  padding-left: 22px;
  height: 58px;
  flex-grow: 1;
  margin-left: 15px;
  background-color: #eeeeee;
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700; }
  .review__input--name {
    width: 230px; }
    @media (min-width: 768px) {
      .review__input--name {
        width: 216px; } }
    @media (min-width: 1200px) {
      .review__input--name {
        width: 350px; } }
  .review__input--surname {
    width: 192px; }
    @media (min-width: 768px) {
      .review__input--surname {
        width: 178px; } }
    @media (min-width: 1200px) {
      .review__input--surname {
        width: 312px; } }
  .review__input--middlename {
    width: 194px; }
    @media (min-width: 768px) {
      .review__input--middlename {
        width: 180px; } }
    @media (min-width: 1200px) {
      .review__input--middlename {
        width: 314px; } }
  @media (min-width: 768px) {
    .review__input {
      display: block; } }
  .review__input--phone {
    width: 222px; }
    @media (min-width: 768px) {
      .review__input--phone {
        width: 590px; } }
    @media (min-width: 1200px) {
      .review__input--phone {
        width: 258px; } }
  .review__input--mail {
    width: 222px; }
    @media (min-width: 768px) {
      .review__input--mail {
        width: 590px; } }
    @media (min-width: 1200px) {
      .review__input--mail {
        width: 258px; } }

.review-form__label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }

.review-form__checkbox + label::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 0;
  width: 46px;
  height: 46px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .review-form__checkbox + label::before {
      left: -60px; } }

.review-form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 40px;
  width: 23px;
  height: 16px;
  background-image: url(../img/icon-tick.svg); }
  @media (min-width: 768px) {
    .review-form__checkbox:checked + label::after {
      left: -50px; } }

.review-form__radio + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -10px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 50%; }
  @media (min-width: 1200px) {
    .review-form__radio + label::before {
      left: 140px; } }

.review-form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 15px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #000000; }
  @media (min-width: 1200px) {
    .review-form__radio:checked + label::after {
      left: 155px; } }

.review-form__textarea {
  background-color: #F2F2F2;
  resize: none;
  border: none; }

.modal {
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  position: fixed;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px; }

.modal--error {
  width: 320px;
  height: 280px;
  padding: 40px 40px 35px;
  display: none; }
  @media (min-width: 768px) {
    .modal--error {
      width: 400px;
      height: 347px;
      padding: 50px 46px 35px; } }
  .modal--error button {
    width: 180px;
    height: 58px;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase; }

.modal--success {
  display: none;
  width: 320px;
  height: 347px;
  padding: 40px 40px 20px; }
  @media (min-width: 768px) {
    .modal--success {
      width: 640px;
      height: 323px;
      padding: 55px 100px 44px; } }
  .modal--success button {
    width: 250px;
    height: 58px;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase; }

.photos {
  width: 100%; }

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  margin-top: 43px; }

.photo-item__wrapper {
  margin-top: 3px;
  margin-left: 20px;
  text-align: start; }

.photos__descriptions {
  font-size: 14px;
  line-height: 24px;
  margin: 0; }

.photos__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
  margin-left: 1px;
  padding-bottom: 14px; }

.photo-item__like {
  margin-bottom: 42px;
  margin-right: 55px;
  background-color: transparent;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .photo-item__like {
      margin-right: 175px; } }
  @media (min-width: 1200px) {
    .photo-item__like {
      color: #ffffff; } }

@media (min-width: 768px) {
  .photos {
    width: 100%; }
  .intro-text {
    margin-top: 65px; }
    .intro-text .intro-text__title {
      font-size: 30px;
      line-height: 26px; }
  .photos__list {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .photos__list {
      padding: 0 60px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .photos__list {
      padding: 0; } }

@media (min-width: 768px) {
  .photo-item__footer {
    display: flex;
    justify-content: space-between; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .photo-item__footer {
      background-color: #EAEAEA;
      position: relative;
      margin-top: -7px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .photo-item__footer {
      background-color: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      margin-top: -78px; } }

@media (min-width: 768px) {
  .photos__item {
    width: 50%; }
    .photos__item img {
      width: 100%;
      height: 267px; }
  .photos__item--big {
    width: 100%; }
    .photos__item--big img {
      height: 400px; } }

@media (min-width: 1200px) {
  .photos__item {
    width: 33.3334%; }
  .photos__item--big {
    width: 100%; } }

.photo-item__icon {
  width: 23px;
  height: 21px;
  fill: rgba(0, 0, 0, 0.3);
  margin-right: 9px; }
  @media (min-width: 1200px) {
    .photo-item__icon {
      fill: #ffffff; } }

.videos__title {
  font-size: 18px;
  line-height: 26px; }

.videos__descriptions {
  padding-top: 14px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px; }

.videos {
  margin-top: 10px;
  position: relative; }

.video__image-poster img {
  width: 320px;
  height: 201px; }
  @media (min-width: 768px) {
    .video__image-poster img {
      width: 648px;
      height: 500px; } }
  @media (min-width: 1200px) {
    .video__image-poster img {
      width: 800px; } }

.video__controls {
  background-color: #f2f2f2;
  display: grid;
  width: 280px;
  margin: 0 auto;
  margin-top: -45px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 66px; }
  @media (min-width: 768px) {
    .video__controls {
      margin-top: 0;
      margin-left: 20px;
      grid-template-rows: 70px;
      width: 100%;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      grid-template-columns: 70px 1fr 1fr 86px 80px; } }

.video__scroll-bar {
  position: relative;
  padding: 21px 23px;
  background-color: rgba(0, 0, 0, 0.6);
  grid-row-start: 1;
  grid-column: 1 / 6;
  margin-top: -4px; }
  @media (min-width: 768px) {
    .video__scroll-bar {
      grid-column: 2 / 4;
      width: 648px;
      height: 93px;
      margin-left: -30px;
      margin-top: -30px; } }
  @media (min-width: 1200px) {
    .video__scroll-bar {
      width: 800px;
      margin-left: 110px; } }

.video__scale {
  background-color: #ffffff;
  height: 3px;
  width: 235px;
  margin-left: 3px;
  position: absolute; }
  @media (min-width: 768px) {
    .video__scale {
      margin-left: 53px;
      margin-top: 24px;
      width: 389px; } }

.video__toggle {
  background-color: #ffffff;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 18px;
  left: 58px; }
  @media (min-width: 768px) {
    .video__toggle {
      top: 42px;
      left: 158px; } }

.video__button {
  background-color: transparent;
  border: none;
  padding: 0;
  grid-row-start: 2; }
  @media (min-width: 768px) {
    .video__button {
      grid-row-start: 1; } }
  .video__button--replay {
    grid-column: 1 / 2;
    margin-left: 35px; }
    @media (min-width: 768px) {
      .video__button--replay {
        margin-left: 75px;
        margin-top: 10px;
        width: 16px;
        height: 20px; } }
    @media (min-width: 1200px) {
      .video__button--replay {
        margin-left: 220px; } }
  .video__button--subtitles {
    grid-column: 4 / 5;
    margin-left: 6px; }
    @media (min-width: 768px) {
      .video__button--subtitles {
        width: 32px;
        height: 20px;
        margin-top: 10px;
        margin-left: -20px; } }
    @media (min-width: 1200px) {
      .video__button--subtitles {
        margin-left: -210px; } }
  .video__button--fullscreen {
    grid-column: 5 / 6;
    margin-left: 13px; }
    @media (min-width: 768px) {
      .video__button--fullscreen {
        width: 32px;
        height: 20px;
        margin-top: 10px;
        margin-left: -50px; } }
    @media (min-width: 1200px) {
      .video__button--fullscreen {
        margin-left: -210px; } }

.video__icon {
  width: 32px;
  height: 20px;
  fill: #5C6870; }
  @media (min-width: 768px) {
    .video__icon {
      fill: #ffffff;
      opacity: 1; } }

/*# sourceMappingURL=style.css.map */
