@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("ptsans.woff2") format("woff2"),
    url("ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("ptsansbold.woff2") format("woff2"),
    url("ptsansbold.woff") format("woff");
}
